
.gradle

!/web/build
build
/htmltest
/.idea/*
#!/.idea/misc.xml
#!/.idea/gradle.xml
#!/.idea/compiler.xml
!/.idea/scopes
/.idea/inspectionProfiles/
/log/
out
booz-boot/src/main/resources/public/index.html
booz-boot/src/main/resources/public/cdn/**
booz-boot/src/main/resources/public/static/**
**/generated/com/boozsoft/product/entity/**
**/generated/**
src/main/resources/public
#/booz-boot/src/main/resources/public
